/**
 *
 * Forms
 *
 */

.form--wrapper {
  margin-bottom: 2em;
}

.form--input {
  margin-bottom: 1.5em;
}

.form--password-wrapper {
  position: relative;

  // Internet Explorer 10 includes its own control for toggling password visibility that can compete with the plugin we
  // use to show and hide the password.
  // This override disables the control.

  input[type="password"] {
    &::-ms-reveal {
      display: none !important;
    }
  }
}

.form--toggle-password {
  position: absolute;
  right: 1em;
  bottom: 1.1em;

  color: $gray;
  cursor: pointer;
  font-size: 75%;
}

.form--toggle-password-icon {
  left: -1.75em;
  max-width: 1.25em;
  position: absolute;
  top: 0.35em;
}

.form--new-code {
  padding-top: 2em;

  text-align: center;
}