/**
 * Layouts
 *
 * This is an example file
 *
 * @author magnify
 */


%center-layout-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 45em;
}


/* Header */

.header {
  height: 3em;
  margin-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;

  background-color: $orange;

  a {
    &:link {
      color: $white;
      text-decoration: none;
    }

    &:visited {
      color: darken($orange, 5%);
    }

    &:hover {
      color: darken($orange, 10%);
      text-decoration: none;
    }

    &:focus {
      color: darken($white, 10%);
    }
  }
}

.header--inner {
  @extend %center-layout-container;

  position: relative;
}


/* Logos */

.back-link--wrapper,
.logo--wrapper,
.aak-logo--wrapper {
  position: absolute;

  height: 3em;
}

.logo--wrapper {
  left: 2em;
}

.aak-logo--wrapper {
  right: 0;
}

.back-link,
.logo,
.aak-logo {
  @include vertical-align();
}

.logo {
  display: inline-block;
  max-width: 10em;
}

.aak-logo {
  max-width: 4em;
}

.back-link {
  display: block;
  max-width: 1em;
}

.frontpage {
  .back-link {
    display: none;
  }

  .logo--wrapper {
    left: 0;
  }
}


/* Layout */

.layout {
  @extend %center-layout-container;

  padding-right: 2em;
  padding-bottom: 3em;
  padding-left: 2em;
}


/* Footer */

.footer {
  text-align: center;
}
