/**
 * Layouts
 *
 * This is an example file
 *
 * @author magnify
 */


%center-layout-container {
  margin-right: auto;
  margin-left: auto;
  max-width: 45em;
}


/* Map */
.map {
  height: 100%;

  body {
    height: 100%;
    padding-top: 3em;

    @include box-sizing(border-box);
  }

  #map-canvas {
    height: 100%;

    img {
      max-width: inherit;
    }
  }

  .header {
    position: fixed;
    top: 0;
    z-index: 99;

    margin-bottom: 0;
    width: 100%;
  }

  .header--inner {
    max-width: 100%;
  }

  .aak-logo--wrapper {
    right: 2em;
  }

  .map-content {
    position: fixed;
    z-index: 99;
    top: 6em;
    left: 7em;

    padding: 1em;

    background-color: $white;
  }
}


/* Header */

.header {
  height: 3em;
  margin-bottom: 2em;
  padding-right: 1em;
  padding-left: 1em;

  background-color: $orange;

  a {
    &:link {
      color: $white;
      text-decoration: none;
    }

    &:visited {
      color: darken($orange, 5%);
    }

    &:hover {
      color: darken($orange, 10%);
      text-decoration: none;
    }

    &:focus {
      color: darken($white, 10%);
    }
  }
}

.header--inner {
  @extend %center-layout-container;

  position: relative;
}


/* Logos */

.back-link--wrapper,
.logo--wrapper,
.aak-logo--wrapper {
  position: absolute;

  height: 3em;
}

.logo--wrapper {
  left: 2em;
}

.aak-logo--wrapper {
  right: 0;
}

.back-link,
.logo,
.aak-logo {
  @include vertical-align();
}

.logo {
  display: inline-block;
  max-width: 10em;
}

.aak-logo {
  max-width: 4em;
}

.back-link {
  display: block;
  max-width: 1em;
}

.frontpage {
  .back-link {
    display: none;
  }

  .logo--wrapper {
    left: 0;
  }
}


/* Layout */

.layout {
  @extend %center-layout-container;

  padding-right: 2em;
  padding-bottom: 3em;
  padding-left: 2em;
}


/* Footer */

.footer {
  text-align: center;
}

.footer--saved-login {
  display: none;
  margin-left: 1em;
}
