/**
 *
 * Link buttons
 *
 */


.link-button--wrapper {
  margin-bottom: 2em;
}


.link-button {
  @extend .button;

  position: relative;

  margin-bottom: 1em;

  text-align: left;

  &:link,
  &:visited {
    color: $white;
    text-decoration: none;
  }

  &:hover {
    background-color: darken($blue, 5%);
    color: $white;
    text-decoration: none;
  }

  &:focus {
    color: $white;
  }
}

.link-button--icon-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;

  display: block;
  padding-right: 1em;
  padding-left: 1em;

  background-color: darken($blue, 10%);

  @include border-radius(0 $border-radius $border-radius 0);
}

.link-button--icon {
  position: relative;
  top: .5em;

  max-width: .75em;
}