/**
 *
 * Theme variables
 *
 */



/* Colors
   ================================================================================================================== */

$black:            #000;
$white:            #fff;
$blue:             #3788d4;
$orange:           #f89100;
$green:            #b9ff73;

$gray-lightest:    #eee;
$gray-lighter:     #ccc;
$gray-light:       #aaa;
$gray:             #999;
$gray-dark:        #666;
$gray-darker:      #555;
$gray-darkest:     #444;



/* Typograhy
   ================================================================================================================== */

$font-family:      Arial, sans-serif;
$font:             1em/1.5 $font-family;



/* Link colors
   ================================================================================================================== */

$link-color:       #2d84d8;



/* Layout
   ================================================================================================================== */

$border-radius:    .6em !default;



/* Spacing
   ================================================================================================================== */

$margin-bottom:    3em !default;
